a:link {
	color:#0000ff; 
}
a:visited {
	color:#9999ff; 
} 
a:active, a:hover {
	color: rgb(255,51,0);
}
body {
 text-align:center;
 background-color:#555555;
 margin:0;
}
td {
 color:#fff;
 font-family: georgia,times,serif;
 width:640;
 text-align:center;
}
h1, h2, h3, h4, h5, h6 {
 font-family:verdana,helvetica,sans-serif;
}